<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li style="font-size:24px"><a href="/">Home</a></li>
		        	<li style="font-size:24px"><a href="/program">Program</a></li>
	        		<li style="font-size:24px"><a href="/speakers">Speakers</a></li>
	        		<li style="font-size:24px"><a href="/aboutus">Organizers</a></li>
				<li style="font-size:24px"><a href="/join">How to join</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
		</body>
	</html>
