<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
            		background-image: url();
      body {
        background-image: url("https://en.wikipedia.org/wiki/Neuron#/media/File:Blausen_0657_MultipolarNeuron.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
      }	
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/program">Program</a></li>
	        		<li><a href="/speakers">Speakers</a></li>
	        		<li><a href="/aboutus">About Us</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
				<li><a href="mailto:alexandra.tzilivaki@charite.de">alexandra.tzilivaki@charite.de</a></li>
	        		<li><a href="mailto:schavlis@imbb.forth.gr">schavlis@imbb.forth.gr</a></li>
	        		<li><a href="http://dendrites.gr">https://dendrites.gr</a></li>
				</ul>
			</footer>
		</body>
	</html>
