<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/ocns2021interneurons/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li style="font-size:24px;color:black"><a href="/ocns2021interneurons/">Home</a></li>
		        	<li style="font-size:24px;color:black"><a href="/ocns2021interneurons/program">Program</a></li>
				<li style="font-size:24px;color:black"><a href="/ocns2021interneurons/abstracts">Abstracts</a></li>
	        		<li style="font-size:24px;color:black"><a href="/ocns2021interneurons/speakers">Speakers</a></li>
	        		<li style="font-size:24px;color:black"><a href="/ocns2021interneurons/aboutus">Organizers</a></li>
				<li style="font-size:24px;color:black"><a href="/ocns2021interneurons/join">How to join</a></li>
				<li style="font-size:24px;color:black"><a href="/ocns2020interneurons/" target="_blank" rel="noopener noreferrer">Past Workshop</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
		</body>
	</html>
